:root {
    background-color: #ffffff;
    }
    *{
        margin: 0;
        padding: 0;
    }

    body {
        display: flex;
        justify-content: flex-end;
        height: 100%;
        padding: 40px;
        background-color: #fff;
        font-family: sans-serif;
    }

    section {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        color: #43198c;
        
    }
    h1 {
        position: relative;
        color: #43198c;
        font-family: sans-serif;
        font-size: 4rem;
    }

    .login {
        margin: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .input-container {
        position: relative;
        width: 300px;
        margin-bottom: 25px;
    }

    .input-field {
        width: 100%;
        background-color: transparent;
        border: 2px solid #5713c4;
        border-radius: 4px;
        font-size: 1rem;
        color: #43198c;
        padding: 16px;
    }

    .input-label {
        position: absolute;
        left: 12px;
        top: -10px;
        background-color: #fff;
        padding: 0 4px;
        font-size: 14px;
        color: #43198c;
        transition: all 0.2s ease;
    }
    
    .input-field:focus {
        outline: none; /* Remove a borda de foco padrão do navegador */
        border-color: blueviolet;
    }

    .input-field:focus + .input-label {
    color: blueviolet;
}

    .remember-forgot {
        position: relative;
        width: 100%;
        height: 50px;
        margin: 30px 0;
        color: #43198c;
    }

    .botao-cadastrar {
        color: rgb(113, 34, 240);
        font-family: sans-serif;
        font-weight: 300;
        border:  1.5px solid #5713c4;
        border-style: outset;
        border-radius: 5px;
        border-width: 1.9px;
        border-color: #43198c;
        padding: 20px;
        margin-top: 10px;
        background-color: #fff;
        transition: all 0.5s ease;
        cursor: pointer;
    }

    .botao-cadastrar:hover {
        color: #43198c;
        transform: translateY(-2px);
      }

    .botao-login {
        color: rgb(255, 255, 255);
        font-family: sans-serif;
        font-weight: 300;
        line-height: normal;
        margin-top: 10px;
        border: none;
        border-radius: 5px;
        padding: 20px 35px;
        background-color: rgb(67, 25, 140);
        transition: all 0.5s ease;
        cursor: pointer;
    }

    .botao-login:hover {
        background-color: blueviolet;
        color: #fff;
        transform: translateY(-2px);
      }


    .acesso {
        color: rgb(67, 25, 140);
        font-family: sans-serif;
        font-weight: 300;
        line-height: normal;
        margin-top: 40px;
    }

    input {
        color: rgb(67, 25, 140);
    }

    main {
        box-sizing: border-box;
        display: flex;
        align-items: flex-end;
    }